{% extends 'layouts/classic.html' %}
{% load static %}
{% block content %}
    <p id="historic">
        <h1 class="text-center">- Historic -</h1>
         <p> EOS-Adaptable Earth Observation System is a CFI and Quebec funded project involving Biology and Atmospheric research professors from McGill University and UQAM. Scientific partners are UdeS, ULaval, UQTR. </p>
        <hr class="my-4">
        <ul class="timeline">
            <li>
                <div class="timeline-badge"><i class="fas fa-map-marker-alt"></i></div>
                <div class="timeline-panel-container">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <p class="text-muted">

                                <small class="glyphicon"> <i class="fas fa-clock fa-md mr-2"></i>January 2020</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>- 15-minutes data are now available from our Gault reserve Weather Station. The picture is showing temperature data from last night until now (UTC time).
Available data: flux, temperature at 8 levels, soil temperature, soil water content, humidity, atmospheric pressure, solar radiation, Water content, Visibility, Present weather, Wind speed, wind direction, snow depth, cloud altitude etc.</p>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"><i class="fas fa-map-marker-alt"></i></div>
                <div class="timeline-panel-container-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <p class="text-muted">

                                <small class="glyphicon"> <i class="fas fa-clock fa-md mr-2"></i>March 2019</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>The assembly of our first Weather Station is almost completed. This station is located at the Gault natural reserve in Saint-Hilaire. </p>

                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge"><i class="fas fa-map-marker-alt"></i></div>
                <div class="timeline-panel-container">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <p class="text-muted">

                                <small class="glyphicon"> <i class="fas fa-clock fa-md mr-2"></i>January 2018</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Beginning of the project: <a href="https://www.mcgill.ca/newsroom/channels/news/more-59-million-awarded-cfi-and-government-quebec-six-mcgill-research-projects-283993/">Mcgill communication</a></p>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
