<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">{{ station.name }}</div>
    <div class="list-group list-group-flush">
        <a href="/stations/{{ station.id }}/live-data"
           class="list-group-item list-group-item-action bg-light
               {% if active == "live_data" %}active{% endif %}">
            Live data
        </a>
        {% if station.meteograms %}
            <a href="/stations/{{ station.id }}/meteograms"
               class="list-group-item list-group-item-action bg-light
               {% if active == "meteograms" %}active{% endif %}">
                Meteograms
            </a>
        {% endif %}
        {% if station.radar %}
            <a href="/stations/{{ station.id }}/radar"
               class="list-group-item list-group-item-action bg-light
               {% if active == "radar" %}active{% endif %}">
                Radar
            </a>
        {% endif %}
        {% if station.disdrometer %}
            <a href="/stations/{{ station.id }}/disdrometer"
               class="list-group-item list-group-item-action bg-light
               {% if active == "disdrometer" %}active{% endif %}">
                Disdrometer
            </a>
        {% endif %}
        {% if station.ceilometer %}
            <a href="/stations/{{ station.id }}/ceilometer"
               class="list-group-item list-group-item-action bg-light
               {% if active == "ceilometer" %}active{% endif %}">
                Ceilometer
            </a>
        {% endif %}
    </div>
</div>