<!DOCTYPE html>
{% load static %}
{% load compress %}


<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    {% compress css %}
        <link type="text/x-scss" href="{% static 'theme.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    {% block head %}
    {% endblock %}
</head>
<body class="classic-template">
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <!--a class="navbar-brand" href={% url "home" %}>EOS WEBSITE DEV</a-->
    <img class="img-fluid" src="{{ MEDIA_URL }}images/AEOS-logo_Colour.png" alt="Projet EOS" style="width:15%">
    {% include "components/navigation.html" %}
</nav>
<main class="container">
    {% block content %}
    {% endblock %}
</main>
<footer>
    <h3>EOS WEBSITE DEV</h3>
    <div class="copyright"> Copyright @ {% now "Y" %}.</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
<script type="text/javascript">
    const media_url = "{{ MEDIA_URL }}";
</script>
{% block scripts %}
{% endblock %}
</body>
</html>
