{% extends 'layouts/classic.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/
MarkerCluster.css"/>

{% endblock %}

{% block content %}
	    <h1>Earth Observation System project</h1>
 <!-- <div class="text-center">
        <img class="img-fluid" src="{{ MEDIA_URL }}images/image.png" alt="Projet EOS">
    </div>
!--->

<div class="my-4">
    <p>
The Earth Observing System (EOS) will provide the infrastructure necessary to map and experiment with
ecosystems within Quebec's Saint Lawrence River Valley (SLRV) with the primary goal of deriving a
quantitative prediction model of interactions throughout the region's climate system. Such a model is critical
for understanding the local feedbacks that climate and extreme weather have on changing ecosystems. A
key feature of EOS is its combined capability to support fixed observational facilities and a flexible mobile
infrastructure to observe and analyze the Dynamic Earth System (DES) in more remote locations of Canada.
DES, the portion of the Earth that is in a real-time state of change, includes climate and anthropogenic
activities' contribution to the energy imbalances that yield extreme weather. The SLRV's climate includes
extreme weather, a range of land use from urban to natural, and biodiversity fluxes.
The development of a comprehensive prediction model of the SLRV's DES will provide crucial guidance
for policy makers, stakeholders, and the public on best strategies for regional development, such as urban
growth and biodiversity conservation. Secondary benefits include the creation of novel technologies that range
from networked and remote, robotic sensing and imaging, state-of-the-art mobile labs, and continuous-feed
data management. The EOS infrastructure in the SLRV will place Canada at the international forefront of
developing the science and new technologies.
</p>
    <div class="my-4"></div>
    <div id="map"></div>
{% endblock %}

{% block scripts %}
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
  <script type='text/javascript' src="{{ MEDIA_URL }}data/home/station_last_Metdata.js"></script>
  <script type='text/javascript' src="{% static 'home/js/leaflet_map.js' %}"></script>

{% endblock %}
