{% extends 'layouts/classic.html' %}
{% load static %}


{% block content %}
    <h1>CECI EST UN TITRE</h1>
    <div class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis et ex vel tincidunt. In eu ex dapibus, consequat lacus quis, tincidunt est. Phasellus eget vestibulum urna, id pretium urna. Aliquam eget consequat libero, convallis sagittis magna. Aenean pellentesque volutpat risus non euismod. Sed fringilla, turpis quis posuere malesuada, magna nibh laoreet velit, sed rutrum elit quam vel diam. Ut dignissim metus sit amet nisi consequat placerat. Phasellus vel metus euismod, consectetur mi ut, euismod metus. Maecenas fringilla tincidunt nibh, sed tempor elit interdum non. Aenean facilisis justo ut neque consectetur euismod. Cras sed malesuada erat. Donec ornare massa elit, id iaculis nisl molestie in. Etiam ligula mauris, elementum et ultrices quis, aliquet sit amet lacus. Aenean lobortis mauris nec odio rhoncus pellentesque. Nullam sit amet ex sit amet nibh luctus porta.</p>
{% endblock %}