{% extends 'layouts/classic.html' %}
{% load static %}


{% block content %}
<div class="container mb-2 pt-2 pb-2 border">
        <table id="data-table" class="table table-striped table-bordered nowrap" width="50%"
    <tbody>
      <tr class="odd gradeX">
          <th>Gault</th>
          <th>Arboretum</th>
      </tr>
      <tr class="odd gradeX">
          <td><img class="img-fluid" src="{{ MEDIA_URL }}images/sentinel1.jpg" alt="Gault"  width="400" height="300"></td>
          <td><img class="img-fluid" src="{{ MEDIA_URL }}images/sentinel2.jpg" alt="Arboretum"  width="400" height="300"></td>
      </tr>
        
      <tr class="odd gradeX">
          <th>FM</th>
          <th>UQAM</th>
      </tr>
      <tr class="odd gradeX">
          <td><img class="img-fluid" src="{{ MEDIA_URL }}images/sentinel3.jpg" alt="FM"  width="400" height="300"></td>
          <td><img class="img-fluid" src="{{ MEDIA_URL }}images/" alt="UQAM" ></td>
      </tr>
         
      <tr class="odd gradeX">
          <th>Trois-Rivieres</th>
          <th>Sherbrooke</td>
      </tr>
      <tr class="odd gradeX">
          <td><img class="img-fluid" src="{{ MEDIA_URL }}images/" alt="TR" ></td>
          <td><img class="img-fluid" src="{{ MEDIA_URL }}images/" alt="Sherbrooke"></td>
      </tr>

      <tr class="odd gradeX">
          <th>NRC</th>
          <th>AERI</th>
      </tr>
      <tr class="odd gradeX">
          <td><img class="img-fluid" src="{{ MEDIA_URL }}images/" alt="NRC" ></td>
          <td><img class="img-fluid" src="{{ MEDIA_URL }}images/aeri.jpg" alt="AERI"  width="400" height="300"></td>
      </tr>

    </tbody>
  </table>
{% endblock %}
