{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Atmospheric Emitted Radiance Interferometer (AERI) from ABB</h1>
  <hr class="my-4">
 
<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="color:#0f0f0f">The <a href="https://new.abb.com/products/measurement-products/analytical/space-defense-systems/atmospheric-emitted-radiance-interferometer-aeri" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">Atmospheric Emitted Radiance Interferometer</span></a>, or AERI&trade;, is a ruggedized automated sounding spectroradiometer system for unattended operations in hostile ambient conditions. It measures absolute down-welling atmospheric emitted infrared radiance with high accuracy. Coupled with specialized algorithms, this remote sensing tool can work year-round during both day and night (except during precipitation), continuously providing temperature and humidity as other atmospheric variables profiles every 8 minutes.</span></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">This multifunctional instrument lends itself to numerous remote sensing applications:</span></span></span></p>

<ul>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Thermodynamic atmospheric research</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Spectroscopic science</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Cloud and aerosol studies</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Trace gas detection</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Land and ocean surface characterization</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Air quality monitoring (pollution)</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Weather forecasting</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Validation of satellite sounders</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Climate change monitoring</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Airport monitoring, etc.</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Weather monitoring</span></span></span></li>
</ul>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">AERI remote sensing instrument is capable of retrieving the atmospheric vertical profiles of water vapor and temperature in unattended operation 24 h/day, 7 days/week, and 365 days/year operation.</span></span></span></p>

<p>&nbsp;</p>

 <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/AERI.JPG" alt="Halo" width="50%" height="50%">
 </div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif">Picture from ABB website</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt">AERI locations</span></strong></span></span></p>

<ul>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Gault Nature Reserve, Mont-Saint-Hilaire </span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">McGill University Burnside Hall building rooftop, downtown Montreal</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">one mobile AERI (link to the mobile AERI)</span></span></span></li>
</ul>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt">Mobile AERI</span></strong></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">A trailer was designed for this instrument to travel and take measurements wherever we want. The trailer is powered by a power generator and is having a heating system and air conditioning. </span></span></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>
 <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/AERI_TRUCK.JPG" alt="Halo" width="50%" height="50%">
 </div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif">Representation made by Pr&eacute;cisions Proven&ccedil;al Inc.</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">This mobile instrument will be functional during the summer of 2023.</span></span></span></p>

<p>&nbsp;</p>

{% endblock %}
