{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Molecular biology laboratory -</h1>
  <hr class="my-4">

<p>Located downtown Montreal, this laboratory is having 2 main areas, one dedicated to eDNA work (molecular biology lab) and the other one where the dirty specimens are arriving. The molecular biology laboratory is designed with the following characteristics:</p>

<ul>
	<li>Positive pressure from the cleanest room to the &ldquo;dirtiest&rdquo; room</li>
	<li>An anteroom for dressing</li>
	<li>A clean room</li>
	<li>An eDNA room</li>
</ul>

<p>The molecular biology laboratory is equipped with:</p>

<ul>
	<li>ddPCR instrument-QIAcuity one 5 plex: <a href="https://www.qiagen.com/us/products/instruments-and-automation/pcr-instruments/qiacuity-digital-pcr-system/?catno=911021">https://www.qiagen.com/us/products/instruments-and-automation/pcr-instruments/qiacuity-digital-pcr-system/?catno=911021</a></li>
	<li>Agilent Bioanalyzer: <a href="https://www.agilent.com/en/product/automated-electrophoresis/bioanalyzer-systems/bioanalyzer-instrument/2100-bioanalyzer-instrument-228250">https://www.agilent.com/en/product/automated-electrophoresis/bioanalyzer-systems/bioanalyzer-instrument/2100-bioanalyzer-instrument-228250</a></li>
	<li>Tecan Spark Plate reader: <a href="https://lifesciences.tecan.com/multimode-plate-reader">https://lifesciences.tecan.com/multimode-plate-reader</a></li>
	<li>Pipettes Sartorius Tacta</li>
	<li>Mini Corning centrifuges</li>
	<li>pH meter</li>
	<li>Vortex mixers</li>
	<li>Barnstead Micropure Water purification system: <a href="https://www.barnstead-water.com/specsheet.asp?catalogid=16999&amp;title=50132372+Barnstead+MicroPure+UV/UF-ST">https://www.barnstead-water.com/specsheet.asp?catalogid=16999&amp;title=50132372+Barnstead+MicroPure+UV/UF-ST</a></li>
	<li>Autogen Quickgene 810: <a href="https://autogen.com/product/quickgene-810/">https://autogen.com/product/quickgene-810/</a></li>
	<li>Chemical hood</li>
	<li>AirClean hood 48 inches: <a href="https://www.aircleansystems.com/products/combination-pcr-workstation">https://www.aircleansystems.com/products/combination-pcr-workstation</a></li>
	<li>Biological safety cabinet Baker Sterilguard III SG304: <a href="https://bakerco.com/product/sterilgard-e3/">https://bakerco.com/product/sterilgard-e3/</a></li>
	<li>Panasonic sliding door Fridge MPR1014PA: <a href="https://www.phchd.com/us/biomedical/preservation/pharmaceutical-refrigerators/mpr-1014">https://www.phchd.com/us/biomedical/preservation/pharmaceutical-refrigerators/mpr-1014</a></li>
	<li>Undercounter Freezer Panasonic SFL6111WPA: <a href="https://northamerica.covetrus.com/content/pdfs/p048350.pdf">https://northamerica.covetrus.com/content/pdfs/p048350.pdf</a></li>
	<li>Freezer Panasonic: MDFU5312PA: <a href="https://www.phchd.com/global/biomedical/preservation/biomedical-freezers/biomedical-30-freezers/mdf-u5312">https://www.phchd.com/global/biomedical/preservation/biomedical-freezers/biomedical-30-freezers/mdf-u5312</a></li>
	<li>Steris autoclave Amsco 250LS: <a href="https://www.sterislifesciences.com/products/steam-sterilizers/steam-sterilizers/small-steam-sterilizers">https://www.sterislifesciences.com/products/steam-sterilizers/steam-sterilizers/small-steam-sterilizers</a></li>
	<li>Steris dishwasher Reliance 400XLS: <a href="https://www.sterislifesciences.com/products/equipment/washers-and-dryers/reliance-400xls-and-500xls-glassware-washers">https://www.sterislifesciences.com/products/equipment/washers-and-dryers/reliance-400xls-and-500xls-glassware-washers</a></li>
	<li>Orbital shaker Eppendorf 2050: <a href="https://www.eppendorf.com/gb-en/eShop-Products/Lab-Shakers/Open-Air-Platform-Shakers/New-Brunswick-Innova-2050-p-PF-56249">https://www.eppendorf.com/gb-en/eShop-Products/Lab-Shakers/Open-Air-Platform-Shakers/New-Brunswick-Innova-2050-p-PF-56249</a></li>
	<li>Digital incubator Boekel: <a href="https://www.boekelsci.com/boekel-scientific-economy-small-digital-incubator-133000-0-8-cuft-115v-230v.html">https://www.boekelsci.com/boekel-scientific-economy-small-digital-incubator-133000-0-8-cuft-115v-230v.html</a></li>
	<li>Fluorometer Qbit: <a href="https://www.thermofisher.com/ca/en/home/industrial/spectroscopy-elemental-isotope-analysis/molecular-spectroscopy/fluorometers/qubit.html?cid=bid_pca_aqb_r01_co_cp1498_pjt8824_col119382_0ds_adb_da_awa_rt_s02_QubitAvailNow">https://www.thermofisher.com/ca/en/home/industrial/spectroscopy-elemental-isotope-analysis/molecular-spectroscopy/fluorometers/qubit.html?cid=bid_pca_aqb_r01_co_cp1498_pjt8824_col119382_0ds_adb_da_awa_rt_s02_QubitAvailNow</a></li>
	<li>Accuspin micro 17 centrifuge: <a href="https://assets.thermofisher.com/TFS-Assets/LED/manuals/20058341-c-Fisher%20Scientific%20AccuSpin%20Micro%2017_17R-en.pdf">https://assets.thermofisher.com/TFS-Assets/LED/manuals/20058341-c-Fisher%20Scientific%20AccuSpin%20Micro%2017_17R-en.pdf</a></li>
	<li>incubator Fisherbrand:</li>
	<li>Flammable cabinets-A full room of cabinet is available for sample storage</li>
	<li>3 Eppendorf thermocyclers (1 Mastercycler and 2 Eco): <a href="https://online-shop.eppendorf.ca/CA-en/PCR-44553/Cyclers-44554/Mastercycler-nexus-PF-14698.html">https://online-shop.eppendorf.ca/CA-en/PCR-44553/Cyclers-44554/Mastercycler-nexus-PF-14698.html</a></li>
</ul>

<p>&nbsp;</p>

<div class="text-center">
   <img class="img-fluid" src="{{ MEDIA_URL }}images/biology.JPG" alt="Climate Sentinel">
</div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif">Photo credit: Eve Bigras</span></span></p>


{% endblock %}
