{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Molecular biology laboratory -</h1>
  <hr class="my-4">

<p>Located downtown Montreal, this laboratory is having 2 main areas, one dedicated to eDNA work (molecular biology lab) and the other one where the dirty specimens are arriving. The molecular biology laboratory is designed with the following characteristics:</p>

<ul>
	<li>Positive pressure from the cleanest room to the &ldquo;dirtiest&rdquo; room</li>
	<li>An anteroom for dressing</li>
	<li>A clean room</li>
	<li>An eDNA room</li>
</ul>

<p>The molecular biology laboratory is equipped with:</p>

<ul>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.qiagen.com/us/products/instruments-and-automation/pcr-instruments/qiacuity-digital-pcr-system/?catno=911021">ddPCR instrument-QIAcuity one 5 plex</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.agilent.com/en/product/automated-electrophoresis/bioanalyzer-systems/bioanalyzer-instrument/2100-bioanalyzer-instrument-228250">Agilent Bioanalyzer</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://lifesciences.tecan.com/multimode-plate-reader">Tecan Spark Plate reader</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Pipettes Sartorius Tacta</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Mini Corning centrifuges</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">pH meter</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Vortex mixers</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.barnstead-water.com/specsheet.asp?catalogid=16999&title=50132372+Barnstead+MicroPure+UV/UF-ST">Barnstead Micropure Water purification system</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://autogen.com/product/quickgene-810/">Autogen Quickgene 810</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Chemical hood</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.aircleansystems.com/products/combination-pcr-workstation">AirClean hood 48 inches</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Biological safety cabinet Baker <a href="https://bakerco.com/product/sterilgard-e3/">Sterilguard III SG304</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Panasonic sliding door Fridge <a href="https://www.phchd.com/us/biomedical/preservation/pharmaceutical-refrigerators/mpr-1014">MPR1014PA</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Undercounter Freezer Panasonic <a href="https://northamerica.covetrus.com/content/pdfs/p048350.pdf">SFL6111WPA</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Freezer Panasonic <a href="https://www.phchd.com/global/biomedical/preservation/biomedical-freezers/biomedical-30-freezers/mdf-u5312">MDFU5312PA</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Steris autoclave Amsco <a href="https://www.sterislifesciences.com/products/steam-sterilizers/steam-sterilizers/small-steam-sterilizers">250LS</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Steris dishwasher Reliance <a href="https://www.sterislifesciences.com/products/equipment/washers-and-dryers/reliance-400xls-and-500xls-glassware-washers">400XLS</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Orbital shaker <a href="https://www.eppendorf.com/gb-en/eShop-Products/Lab-Shakers/Open-Air-Platform-Shakers/New-Brunswick-Innova-2050-p-PF-56249">Eppendorf 2050</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Digital incubator <a href="https://www.boekelsci.com/boekel-scientific-economy-small-digital-incubator-133000-0-8-cuft-115v-230v.html">Boekel</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.thermofisher.com/ca/en/home/industrial/spectroscopy-elemental-isotope-analysis/molecular-spectroscopy/fluorometers/qubit.html?cid=bid_pca_aqb_r01_co_cp1498_pjt8824_col119382_0ds_adb_da_awa_rt_s02_QubitAvailNow">Fluorometer Qbit</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Incubator Fisherbrand</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Flammable cabinets-A full room of cabinet is available for sample storage</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://online-shop.eppendorf.ca/CA-en/PCR-44553/Cyclers-44554/Mastercycler-nexus-PF-14698.html">3 Eppendorf thermocyclers</a> (1 Mastercycler and 2 Eco)</span></span></li>
</ul>

<p>&nbsp;</p>

<div class="text-center">
   <img class="img-fluid" src="{{ MEDIA_URL }}images/biology.JPG" alt="Climate Sentinel">
</div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif">Photo credit: Eve Bigras</span></span></p>


{% endblock %}
