{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Earth Observation System-Laboratory building-</h1>
  <hr class="my-4">
  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/building1.JPG" alt="Climate Sentinel">
  </div>
<p>
 Photo credit: Eve Bigras
</p>


<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">This new building opened in 2022 and is dedicated to Biology and meteorological research as well as environmental isotopic measurements.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Available inside are a wet laboratory for biology and isotopic measurements and an office base for meteorological field deployment. </span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">The biology laboratory is equipped with:</span></span></span></p>

<ul>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">A FX9 Biochamber: </span><a href="https://www.biochambers.com/pdfs/fxc9.pdf" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.biochambers.com/pdfs/fxc9.pdf</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Orbital shaker Eppendorf 2050: </span><a href="https://www.eppendorf.com/gb-en/eShop-Products/Lab-Shakers/Open-Air-Platform-Shakers/New-Brunswick-Innova-2050-p-PF-56249" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.eppendorf.com/gb-en/eShop-Products/Lab-Shakers/Open-Air-Platform-Shakers/New-Brunswick-Innova-2050-p-PF-56249</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Shaker Oven Eppendorf 40R: </span><a href="https://www.eppendorf.com/gb-en/eShop-Products/Lab-Shakers/Incubator-Shakers/New-Brunswick-Innova-40-40R-p-PF-11012" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.eppendorf.com/gb-en/eShop-Products/Lab-Shakers/Incubator-Shakers/New-Brunswick-Innova-40-40R-p-PF-11012</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Agilent Bioanalyzer: </span><a href="https://www.agilent.com/en/product/automated-electrophoresis/bioanalyzer-systems/bioanalyzer-instrument/2100-bioanalyzer-instrument-228250" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.agilent.com/en/product/automated-electrophoresis/bioanalyzer-systems/bioanalyzer-instrument/2100-bioanalyzer-instrument-228250</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Tecan plate reader with monochromator: </span><a href="https://lifesciences.tecan.fr/plate_readers/infinite_200_pro#:~:text=Infinite%20200%20PRO%20est%20une,publications%20%C3%A9valu%C3%A9es%20par%20des%20pairs" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://lifesciences.tecan.fr/plate_readers/infinite_200_pro#:~:text=Infinite%20200%20PRO%20est%20une,publications%20%C3%A9valu%C3%A9es%20par%20des%20pairs</span></a><span style="font-size:12.0pt">.</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Undercounter Fridge Panasonic TSU4RWN6: </span><a href="https://www.phchd.com/us/biomedical/preservation/under-counter-refrigerators/tsu-4rw-n6" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.phchd.com/us/biomedical/preservation/under-counter-refrigerators/tsu-4rw-n6</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Fridge Panasonic MPR722PA: </span><a href="https://www.phchd.com/us/biomedical/preservation/pharmaceutical-refrigerators/mpr-722-pa" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.phchd.com/us/biomedical/preservation/pharmaceutical-refrigerators/mpr-722-pa</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Freezer Panasonic MDFMU539HLPA: </span><a href="https://www.phchd.com/us/biomedical/preservation/biomedical-freezers/mdf-mu539hl-pa" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.phchd.com/us/biomedical/preservation/biomedical-freezers/mdf-mu539hl-pa</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Spectrophotometer Agilent Cary 60 with 18 cells holder and 100mm path cells: </span><a href="https://www.agilent.com/cs/library/brochures/5990-7789EN_Cary_60_UV-Vis_Brochure.pdf" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.agilent.com/cs/library/brochures/5990-7789EN_Cary_60_UV-Vis_Brochure.pdf</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">3 thermocyclers Biorad T100: </span><a href="https://www.bio-rad.com/fr-ca/product/t100-thermal-cycler?ID=LGTWGIE8Z" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.bio-rad.com/fr-ca/product/t100-thermal-cycler?ID=LGTWGIE8Z</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Vortex mixers</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Mini Corning centrifuges</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Water purification system Smart2pure6: </span><a href="https://www.barnstead-water.com/specsheet.asp?catalogid=17017&amp;title=50129887+Barnstead+Smart2Pure+6+UV/UF" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.barnstead-water.com/specsheet.asp?catalogid=17017&amp;title=50129887+Barnstead+Smart2Pure+6+UV/UF</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Autoclave Tuttnauer 3870ELP: </span><a href="https://heidolphna.com/en_US/products/Laboratory-Line-Autoclaves/3870ELP-230V~p23722" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://heidolphna.com/en_US/products/Laboratory-Line-Autoclaves/3870ELP-230V~p23722</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Sartorius Tacta Pipettes</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Biological Safety Cabinet Baker Sterilguard III SG304: </span><a href="https://bakerco.com/product/sterilgard-e3/" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://bakerco.com/product/sterilgard-e3/</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Chemical hood</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">DNA extraction system Autogen Quickgene 810: </span><a href="https://autogen.com/product/quickgene-810/" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://autogen.com/product/quickgene-810/</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Short gene sequencer (to come)</span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Drying oven Binder ED115 UL: </span><a href="https://www.binder-world.com/int-en/product/ed-115" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.binder-world.com/int-en/product/ed-115</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">pH meter Mettler Toledo FiveEasy Plus FP20: </span><a href="https://www.mt.com/be/en/home/products/Laboratory_Analytics_Browse/pH-meter/pH-meters/benchtop-pH-meter/fiveeasy/FP20-TRIS-Kit.html" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.mt.com/be/en/home/products/Laboratory_Analytics_Browse/pH-meter/pH-meters/benchtop-pH-meter/fiveeasy/FP20-TRIS-Kit.html</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">1 Axiovert microscopes: </span><a href="https://www.zeiss.com/microscopy/en/products/light-microscopes/widefield-microscopes/axio-vert-a1-for-biology.html" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.zeiss.com/microscopy/en/products/light-microscopes/widefield-microscopes/axio-vert-a1-for-biology.html</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">2D imaging system (to come)</span></span></span></li>
</ul>

<p>&nbsp;</p>

  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/building2.JPG" alt="Climate Sentinel">
  </div>
<p>
 Photo credit: Eve Bigras
</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">The meteorological laboratory is equipped with:</span></span></span></p>

<ul>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Upper Air Sounding system, Intermet 3050: </span><a href="https://www.intermetsystems.com/products/imet-3200a-403-mhz-synoptic/" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.intermetsystems.com/products/imet-3200a-403-mhz-synoptic/</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">AERI: </span><a href="https://new.abb.com/products/measurement-products/analytical/space-defense-systems/atmospheric-emitted-radiance-interferometer-aeri" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://new.abb.com/products/measurement-products/analytical/space-defense-systems/atmospheric-emitted-radiance-interferometer-aeri</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Meteo surveying drone (to come)</span></span></span></li>
</ul>

<p>&nbsp;</p>

  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/building3.JPG" alt="Climate Sentinel">
  </div>
<p>
 Photo credit: Eve Bigras
</p>
<p>&nbsp;</p>

  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/building4.JPG" alt="Climate Sentinel">
  </div>
<p>
 Photo credit: Eve Bigras
</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">The EOS building is also designed to be a main operation base for our mobile laboratories. In the basement, we can find a storage space for mobile instruments, a calibration bench for meteorological instruments and a future meeting room.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Storage and calibration space</span></span></span></p>

<p>&nbsp;</p>

  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/building5.JPG" alt="Climate Sentinel">
  </div>
<p>
 Photo credit: Eve Bigras
</p>


<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Future meeting space</span></span></span></p>

<p>&nbsp;</p>

  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/building6.JPG" alt="Climate Sentinel">
  </div>
<p>
 Photo credit: Eve Bigras
</p>

{% endblock %}
