{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Earth Observation System-Laboratory building-</h1>
  <hr class="my-4">
  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/building1.JPG" alt="Climate Sentinel">
  </div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif">Photo credit: Eve Bigras</span></span></p>


<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">This new building opened in 2022 and is dedicated to Biology and meteorological research as well as environmental isotopic measurements.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Available inside are a wet laboratory for biology and isotopic measurements and an office base for meteorological field deployment. </span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">The biology laboratory is equipped with:</span></span></span></p>


<ul>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">A <a href="https://www.biochambers.com/pdfs/fxc9.pdf" ><span style="font-size:12.0pt">FX9 Biochamber</span></a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Orbital shaker <a href="https://www.eppendorf.com/gb-en/eShop-Products/Lab-Shakers/Open-Air-Platform-Shakers/New-Brunswick-Innova-2050-p-PF-56249">Eppendorf 2050</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Shaker Oven <a href="https://www.eppendorf.com/gb-en/eShop-Products/Lab-Shakers/Incubator-Shakers/New-Brunswick-Innova-40-40R-p-PF-11012">Eppendorf 40R</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Agilent <a href="https://www.agilent.com/en/product/automated-electrophoresis/bioanalyzer-systems/bioanalyzer-instrument/2100-bioanalyzer-instrument-228250">Bioanalyzer</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://lifesciences.tecan.fr/plate_readers/infinite_200_pro#:~:text=Infinite%20200%20PRO%20est%20une,publications%20%C3%A9valu%C3%A9es%20par%20des%20pairs">Tecan plate reader with monochromator</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Undercounter Fridge Panasonic </span><a href="https://www.phchd.com/us/biomedical/preservation/under-counter-refrigerators/tsu-4rw-n6">TSU4RWN6</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Fridge Panasonic <a href="https://www.phchd.com/us/biomedical/preservation/pharmaceutical-refrigerators/mpr-722-pa">MPR722PA</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Freezer Panasonic <a href="https://www.phchd.com/us/biomedical/preservation/biomedical-freezers/mdf-mu539hl-pa">MDFMU539HLPA</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Spectrophotometer Agilent <a href="https://www.agilent.com/cs/library/brochures/5990-7789EN_Cary_60_UV-Vis_Brochure.pdf">Cary 60</a> with 18 cells holder and 100mm path cells</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">3 thermocyclers Biorad <a href="https://www.bio-rad.com/fr-ca/product/t100-thermal-cycler?ID=LGTWGIE8Z">T100</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Vortex mixers</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Mini Corning centrifuges</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Water purification system <a href="https://www.barnstead-water.com/specsheet.asp?catalogid=17017&title=50129887+Barnstead+Smart2Pure+6+UV/UF">Smart2pure6</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Autoclave Tuttnauer <a href="https://heidolphna.com/en_US/products/Laboratory-Line-Autoclaves/3870ELP-230V~p23722">3870ELP</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Sartorius Tacta Pipettes</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Biological Safety Cabinet Baker Sterilguard III <a href="https://bakerco.com/product/sterilgard-e3/">SG304</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Chemical hood</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">DNA extraction system Autogen <a href="https://autogen.com/product/quickgene-810/">Quickgene 810</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Short gene sequencer (to come)</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Drying oven Binder <a href="https://www.binder-world.com/int-en/product/ed-115">ED115 UL</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">pH meter <a href="https://www.mt.com/be/en/home/products/Laboratory_Analytics_Browse/pH-meter/pH-meters/benchtop-pH-meter/fiveeasy/FP20-TRIS-Kit.html">Mettler Toledo FiveEasy Plus FP20</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.zeiss.com/microscopy/en/products/light-microscopes/widefield-microscopes/axio-vert-a1-for-biology.html">1 Axiovert microscopes</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">2D imaging system (to come)</span></span></li>
	
</ul>

<p>&nbsp;</p>

  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/building2.JPG" alt="Climate Sentinel">
  </div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif">Photo credit: Eve Bigras</span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">The meteorological laboratory is equipped with:</span></span></span></p>

<ul>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Upper Air Sounding system <a href="https://www.intermetsystems.com/products/imet-3200a-403-mhz-synoptic/">Intermet 3050</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://new.abb.com/products/measurement-products/analytical/space-defense-systems/atmospheric-emitted-radiance-interferometer-aeri">AERI</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Meteo surveying drone (to come)</span></span></li>
</ul>

<p>&nbsp;</p>

  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/building3.JPG" alt="Climate Sentinel">
  </div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif">Photo credit: Eve Bigras</span></span></p>
<p>&nbsp;</p>

  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/building4.JPG" alt="Climate Sentinel">
  </div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif">Photo credit: Réjean Savoie, RSArchitecture</span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">The EOS building is also designed to be a main operation base for our mobile laboratories. In the basement, we can find a storage space for mobile instruments, a calibration bench for meteorological instruments and a future meeting room.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Storage and calibration space</span></span></span></p>

<p>&nbsp;</p>

  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/building5.JPG" alt="Climate Sentinel">
  </div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif">Photo credit: Eve Bigras</span></span></p>


<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Future meeting space</span></span></span></p>

<p>&nbsp;</p>

  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/building6.JPG" alt="Climate Sentinel">
  </div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif">Photo credit: Eve Bigras</span></span></p>

{% endblock %}
