{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Sentinel Gault -</h1>
  <hr class="my-4">
  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/gault_ensemble_view.jpg" alt="Station Gault">
  </div>
  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/gault_description.pdf" alt="Station description">
  </div>

  <hr class="my-4">
  <p>
    Short description to add...
  </p>
  <ul>
    <li><b>Étendue de la mesure : </b>0.4 à 75 m/s</li>
    <li><b>Seuil : </b>&lt;0.5 m/s</li>
    <li><b>Constante de distance : </b>2 m</li>
    <li><b>Fonction de transfert caractéristique : </b>
      U=0,1007 R + 0,3278, U = vitesse du vent, R = taux d'impulsions
    </li>
    <li><b>Fonction de transfer simple : </b>U=0.1 R</li>
    <li><b>Précision : </b>
      fonction de transfer caractéristique : ±0,17 m/s
      fonction de transfer simple : ±0,5 m/s
    </li>
    <li><b>Guide de référence  </b><a href="{{ MEDIA_URL }}documents/WAA151Manual_en.pdf">Lien de
      téléchargement</a></li>
  </ul>
{% endblock %}