{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Sentinel Gault -</h1>
  <hr class="my-4">
  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/Description_Gault.jpg" alt="Station UQAM">
  </div>

  <hr class="my-4">
  <p>
    Short description to add...
  </p>

<div class="container mb-3 pt-3 pb-3 border">
        <table id="data-table" class="table table-striped table-bordered nowrap" width="50%"
    <tbody>
    <tr class="odd gradeX">
          <th>Item code</th>
          <th>Instrument name</th>
          <th>Number</th>
          <th>Manual</th>
      </tr>
      <tr class="odd gradeX">
          <td>IRGASON</td>
          <td>Integrated Co2/H2O Open Path Gas Analyser & Sonic Anemometer with standard barometer</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/irgason.pdf">Link</a></td>
      </tr>
      <tr class="odd gradeX">
          <td>L26698</td>
          <td>Irgason enhanced barometer</td>
          <td>1</td>
          <td></td>
      </tr>
      <tr class="odd gradeX">
          <td>HMP155A</td>
          <td>Relative humidity and air temperature probe 0m, 10cm, 50cm, 1m, 1.5m, 2m, 3.5m, 5m, 10m</td>
          <td>8</td>
          <td><a href="{{ MEDIA_URL }}documents/hmp155.pdf">Link</a></td>
      </tr>
      <tr class="odd gradeX">
          <td>CNR4-L</td>
          <td>Kipp & Zonen Net Radiometer Sensor</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/cnr4.pdf">Link</a></td>
      </tr>
      <tr class="odd gradeX">
          <td>HFP01SC--L</td>
          <td>Self-Calibrating Soil Heat Flux Plate</td>
          <td>2</td>
          <td><a href="{{ MEDIA_URL }}documents/hfp01sc.pdf">Link</a></td>
      </tr>
      <tr class="odd gradeX">
          <td>TCAV--L</td>
          <td>Averaging Soil Thermocouple Probe</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/tcav.pdf">Link</a></td>
      </tr>
          <tr class="odd gradeX">
          <td>CS655-L</td>
          <td>Soil Moisture and Temperature Sensor (Soil content reflectometer, T sensor)</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/cs655.pdf">Link</a></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>LWS-L</td>
          <td>Leaf Wetness Sensor</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/lws.pdf">Link</a></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>SDMS40-L</td>
          <td>Multipoint Scanning Snowfall Sensor</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/sdms40.pdf">Link</a></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>PRECP</td>
          <td>OTT Parsivel2 Present Weather Sensor</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/Parsivel2_en.pdf">Link</a></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>CS120A-XT</td>
          <td>Atmospheric Visibility Sensor</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/cs120a.pdf">Link</a></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>MRR2</td>
          <td>Micro Rain Radar2</td>
          <td>1</td>
          <td></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>CS135</td>
          <td>Lidar Ceilometer</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/cs135.pdf">Link</a></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>SEN</td>
          <td>Hotplate</td>
          <td>1</td>
          <td></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>GMP343</td>
          <td>CO2 Sensor</td>
          <td>1</td>
          <td></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>SOLAR</td>
          <td>Solar Pannels and battery</td>
          <td>1</td>
          <td></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>CR6-Wifi</td>
          <td>wifi Datalogger</td>
          <td>1</td>
          <td></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>CS725</td>
          <td>Snow Water Equivalent Sensor</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/cs725.pdf">Link</a></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>05103AP-10-L</td>
          <td>RM Young wind monitor alpine version</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/wind.pdf">Link</a></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>CMP10-L</td>
          <td>Kipp & Zonen Thermopile pyranometer sensor</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/cmp10-l.pdf">Link</a></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>SR50A</td>
          <td>Sonic Range 50 KHz module</td>
          <td>1</td>
          <td><a href="{{ MEDIA_URL }}documents/sr50a-l.pdf">Link</a></td>
      </tr>
      </tr>
          <tr class="odd gradeX">
          <td>Camera</td>
          <td>Microseven professional outdoor IP camera</td>
          <td>1</td>
          <td></td>
      </tr>

    </tbody>
  </table>

    </div>


{% endblock %}