{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Mobile climate sentinels  -</h1>
  <hr class="my-4">
<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Among the portable meteorological instruments, 4 mobile tripods will be available.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Met tripod</span></strong></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">The Met tripod is designed to obtain most of the measurements made by a regular climate sentinel with the same data quality.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">It will be equipped with:</span></span></span></p>

<ul>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Datalogger <a href="https://www.campbellsci.ca/cr310">CR310 WIFI</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/gps16x-hvs">GPS</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Ultrasonic WindSensor <a href="https://www.lufft.com/products/wind-sensors-anemometers-289/v200a-ultrasonic-wind-sensor-2295/">LUFFTV200A</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Infrared radiometer <a href="https://s.campbellsci.com/documents/us/manuals/si-111.pdf">SI-111-SS</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/nr01">NR01-4</a> component Net Radiometer</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Hotplate? Changer pour Climavue?</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/hygrovue10">Hygrovue10-Digital</a> temperature and relative humidity</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Water content reflectometer <a href="https://www.campbellsci.ca/cs655">CS655-L</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/barovue10">Barovue10-digital</a> barometric pressure sensor</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/sr50a">SR50A-sonic</a> ranger</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/cm110-tripod">10ft stainless steel tripod</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/cm120-tripod">20ft stainless steel tripod</a></span></span></li>
</ul>
  
<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Flux tripod</span></strong></span></span></p>

<ul>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Datalogger <a href="https://www.campbellsci.ca/cr310">CR310 WIFI</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">GPS (<a href="https://www.campbellsci.ca/gps16x-hvs">GPS16X-HVS</a>)</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/irgason">IRGASON</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/hfp01sc-l">Soil heat flux plates</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/tcav-l">Averaging Soil temperature probes</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/cs655">Water content reflectometer</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/hygrovue10">Hygrovue10-Digital</a> temperature and relative humidity</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/nr01">NR01-4</a> component Net Radiometer</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/cm110-tripod">10ft stainless steel tripod</a></span></span></li>
</ul>

<p>&nbsp;</p>


<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Agro/Bio tripod</span></strong></span></span></p>

<ul>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Datalogger <a href="https://www.campbellsci.ca/cr310">CR310 WIFI</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/gps16x-hvs">GPS</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Ultrasonic WindSensor <a href="https://www.lufft.com/products/wind-sensors-anemometers-289/v200a-ultrasonic-wind-sensor-2295/">LUFFTV200A</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/pqs1">Kipp & Zonen PAR quantum sensor</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/hygrovue10">Hygrovue10</a> Temperature and relative humidity</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/soilvue10">SoilVUE10-Soil</a> moisture profile sensor </span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Temperature probe <a href="https://www.campbellsci.ca/109-l">109</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/leaf-wetness">Leaf wetness sensor</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">10ft stainless steel tripod <a href="https://www.campbellsci.ca/cm110-tripod">CM110</a> and guy wires</span></span></li>
</ul>


<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Visibility tripod</span></strong></span></span></p>

<ul>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Datalogger <a href="https://www.campbellsci.ca/cr310">CR310 WIFI</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/cm110-tripod">10ft stainless steel tripod</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.ott.com/products/meteorological-sensors-26/ott-parsivel2-laser-weather-sensor-2392/">OTT Parsivel2</a> sensor</span></span></li>
</ul>


{% endblock %}
