{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Mobile climate sentinels  -</h1>
  <hr class="my-4">
<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Among the portable meteorological instruments, 4 mobile tripods will be available.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Met tripod</span></strong></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">The Met tripod is designed to obtain most of the measurements made by a regular climate sentinel with the same data quality.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">It will be equipped with:</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Datalogger CR310 WIFI: </span><a href="https://www.campbellsci.ca/cr310" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/cr310</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-GPS: </span><a href="https://www.campbellsci.ca/gps16x-hvs" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/gps16x-hvs</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Ultrasonic WindSensor LUFFTV200A: </span><a href="https://www.lufft.com/products/wind-sensors-anemometers-289/v200a-ultrasonic-wind-sensor-2295/" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.lufft.com/products/wind-sensors-anemometers-289/v200a-ultrasonic-wind-sensor-2295/</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Infrared radiometer SI-111-SS: </span><a href="https://s.campbellsci.com/documents/us/manuals/si-111.pdf" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://s.campbellsci.com/documents/us/manuals/si-111.pdf</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-NR01-4 component Net Radiometer: </span><a href="https://www.campbellsci.ca/nr01" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/nr01</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Hotplate? Changer pour Climavue?</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Hygrovue10-Digital temperature and relative humidity: </span><a href="https://www.campbellsci.ca/hygrovue10" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/hygrovue10</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Water content reflectometer CS655-L: </span><a href="https://www.campbellsci.ca/cs655" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/cs655</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Barovue10-digital barometric pressure sensor: </span><a href="https://www.campbellsci.ca/barovue10" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/barovue10</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-SR50A-sonic ranger: </span><a href="https://www.campbellsci.ca/sr50a%20****changer" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/sr50a ****changer</span></a><span style="color:#0563c1"><u><span style="font-size:12.0pt"> SDMS40</span></u></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-10ft stainless steel tripod: </span><a href="https://www.campbellsci.ca/cm110-tripod" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/cm110-tripod</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-20ft stainless steel tripod: </span><a href="https://www.campbellsci.ca/cm120-tripod" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/cm120-tripod</span></a></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Flux tripod</span></strong></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Datalogger CR310 WIFI: </span><a href="https://www.campbellsci.ca/cr310" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/cr310</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-GPS (GPS16X-HVS): </span><a href="https://www.campbellsci.ca/gps16x-hvs" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/gps16x-hvs</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-IRGASON: </span><a href="https://www.campbellsci.ca/irgason" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/irgason</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Soil heat flux plates: </span><a href="https://www.campbellsci.ca/hfp01sc-l" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/hfp01sc-l</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Averaging Soil temperature probes: </span><a href="https://www.campbellsci.ca/tcav-l" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/tcav-l</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Water content reflectometer: </span><a href="https://www.campbellsci.ca/cs655" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/cs655</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Hygrovue10-Digital temperature and relative humidity: </span><a href="https://www.campbellsci.ca/hygrovue10" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/hygrovue10</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-NR01-4 component Net Radiometer: </span><a href="https://www.campbellsci.ca/nr01" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/nr01</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-10ft stainless steel tripod: </span><a href="https://www.campbellsci.ca/cm110-tripod" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/cm110-tripod</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Agro/Bio tripod</span></strong></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Datalogger CR310 WIFI: </span><a href="https://www.campbellsci.ca/cr310" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/cr310</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-GPS: </span><a href="https://www.campbellsci.ca/gps16x-hvs" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/gps16x-hvs</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Ultrasonic WindSensor LUFFTV200A: </span><a href="https://www.lufft.com/products/wind-sensors-anemometers-289/v200a-ultrasonic-wind-sensor-2295/" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.lufft.com/products/wind-sensors-anemometers-289/v200a-ultrasonic-wind-sensor-2295/</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Kipp &amp; Zonen PAR quantum sensor&nbsp;: </span><a href="https://www.campbellsci.ca/pqs1" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/pqs1</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Hygrovue10-Temperature and relative humidity: </span><a href="https://www.campbellsci.ca/hygrovue10" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/hygrovue10</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-SoilVUE10-Soil moisture profile sensor&nbsp;: </span><a href="https://www.campbellsci.ca/soilvue10" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/soilvue10</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Temperature probe 109: </span><a href="https://www.campbellsci.ca/109-l" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/109-l</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Leaf wetness sensor: </span><a href="https://www.campbellsci.ca/leaf-wetness" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/leaf-wetness</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-10ft stainless steel tripod CM110 and guy wires: </span><a href="https://www.campbellsci.ca/cm110-tripod" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/cm110-tripod</span></a></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Visibility tripod</span></strong></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-Datalogger CR310 WIFI: </span><a href="https://www.campbellsci.ca/cr310" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/cr310</span></a></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">-10ft stainless steel tripod: </span><a href="https://www.campbellsci.ca/cm110-tripod" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.campbellsci.ca/cm110-tripod</span></a></span></span></p>

<p><span style="font-size:12.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">-OTT Parsivel2 sensor: </span></span><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif"><a href="https://www.ott.com/products/meteorological-sensors-26/ott-parsivel2-laser-weather-sensor-2392/" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.ott.com/products/meteorological-sensors-26/ott-parsivel2-laser-weather-sensor-2392/</span></a></span></span></p>


{% endblock %}
