{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Mobile laboratories -</h1>
  <hr class="my-4">
  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/TRUCK2.JPG" alt="truck2" width="50%" height="50%">
  </div>

<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif">Representation made by RSArchitecture Inc.</span></span></p>
<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">For this project, three identical mobile laboratories are being built out of shipping container. Transportable by train, boat, helicopter and trailer, these laboratories are adapted to be independent from utilities in environment as different as arctic and Barbados. Usable for all types of field experiment, equipment for biology, meteorological and isotopic measurements deployment have been purchased.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Half of the container has been designed to host a versatile laboratory that can be used for biology, geography or meteorological deployment. The other lab will be living quarters able to sleep 2 persons and contains a food fridge/freezer, 2 beds (one convertible in a table) and storage/transportation space.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">One mobile laboratory can host all of the equipment necessary for a deployment during transportation. It is equipped with e-tracks and floor hooks to secure equipment. A 5000W power generator is included and a big capacity battery. External connection to power is also possible.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Main characteristics:</span></strong></span></span></p>

<ul>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Honda 500W power generator</span></span></li>	
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://simpliphipower.com/product/access-phi-schneider/">Battery Schneider Simpliphi</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Gas cylinder holders</span></span></li>	
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">2 beds</span></span></li>	
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">1 sink</span></span></li>	
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">1 platform to bring the equipment in/out</span></span></li>	
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Levelling legs</span></span></li>	
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Heating/air conditioning system</span></span></li>	
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Installed on a trailer</span></span></li>	
</ul>	

<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">A minimum of 8 thermometers, <a href=""></a></span></span></li>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Equipment available:</span></strong></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u><span style="font-size:12.0pt">Biology deployment:</span></u></strong></span></span></p>

<ul>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Chemical hood</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://lifesciences.tecan.fr/plate_readers/infinite_200_pro#:~:text=Infinite%20200%20PRO%20est%20une,publications%20%C3%A9valu%C3%A9es%20par%20des%20pairs">Tecan plate reader</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.agilent.com/en/product/automated-electrophoresis/bioanalyzer-systems/bioanalyzer-instrument/2100-bioanalyzer-instrument-228250">Agilent Bioanalyzer</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.eppendorf.com/gb-en/eShop-Products/Lab-Shakers/Open-Air-Platform-Shakers/New-Brunswick-Innova-2000-p-PF-56245">Orbital shaker Eppendorf 2000</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Pipettes</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Fridge/freezer</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Mini Corning centrifuges</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Vortex mixer</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Portable pH meter <a href="https://www.fishersci.ca/shop/products/orion-star-a221-ph-portable-meter/13-645-524?searchHijack=true&searchTerm=orion-star-a221-ph-portable-meter&searchType=Rapid&matchedCatNo=13-645-524">Orion Star A221</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">DNA extraction system <a href="https://autogen.com/product/quickgene-810/">Quickgene 810</a> from Autogen</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Land surveying drones (<a href="https://www.dji.com/ca/mavic-2">6x DJI Mavic 2 pro</a> and <a href="https://www.dronevolt.com/fr/solutions/heliplane/">1 Heliplane LRS-240 VTOL</a>)</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Metboxes (to come)</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Short Gene Sequencer</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">2D imaging system</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Portable 2D X-ray (to come)</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Inverted microscope  <a href="https://www.zeiss.com/microscopy/en/products/light-microscopes/stereo-and-zoom-microscopes/stemi-508.html">Zeiss Stemi 508</a></span></span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u><span style="font-size:12.0pt">Meteorological deployment:</span></u></strong></span></span></p>

<ul>
	
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.intermetsystems.com/products/imet-3050a-403-mhz-portable/">Portable Upper Air Sounding system with automatic inflater and laptop-InterMet</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Doppler scanning lidar-Halo <a href="https://halo-photonics.com/lidar-systems/stream-line-series/">Streamline XR+</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Meteo surveying drone (to come)</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Micro Rain Radar pro-Metek <a href="https://metek.de/product/mrr-pro/">MRR2 pro</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Portable climate sentinel (to come)</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Metboxes (to come)</span></span></li>
</ul>


<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u><span style="font-size:12.0pt">Isotopic deployment</span></u></strong></span></span></p>

<ul>
	
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Dual carbon isotope Analyzer Picarro <a href="https://www.picarro.com/g2201_i_isotopic_analyzer">G2201-i</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">N20 Concentration and isotope Analyzer Picarro <a href="https://www.picarro.com/products/g5131_i_isotope_and_gas_concentration_analyzer">G5131-i</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Isotopic Water Analyzer Picarro <a href="https://www.picarro.com/l2140_i_isotope_and_gas_concentration_analyzer">L2140-i</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">GasScouter CO2, CH4 and H2O Concentration Analyzer in Air Picarro <a href="https://www.picarro.com/products/gas-scouter-g4301">G4301</a></span></span></li>
</ul>

<p style="margin-left:48px">&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">These pieces of equipment are installed downtown Montreal when not in field deployment</span></span></span></p>



{% endblock %}
