{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Mobile Urban Weather Station (MUST)  -</h1>
  <hr class="my-4">
  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/MUST.JPG" alt="truck2" width="50%" height="50%">
  </div>
<p>
 Picture taken from the Sajess website
</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">The MUST station is a mobile lab providing a platform for in-situ meteorological and atmospheric sciences studies. The trailer allows the field team to move the instruments where the meteorological phenomena studied have chances to happen.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Instruments included:</span></span></span></p>

<ul>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Micro Rain Radar (MRR Pro)</span></span></span></li>
</ul>

<ul>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">OTT Parsivel laser disdrometer</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Instruments to measure meteorological variables near the soil surface as temperature, humidity, wind, net radiation, soil temperature, precipitations.</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">A System to study flux (Un syst&egrave;me de covariance de tourbillon pour calculer les flux de surfaces de masse et d&#39;&eacute;nergie)</span></span></span></li>
</ul>

{% endblock %}
