{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Phenotyping lab  -</h1>
  <hr class="my-4">
<ul>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Microscope, Axiozoom V16: </span><a href="https://www.zeiss.com/microscopy/en/products/light-microscopes/stereo-and-zoom-microscopes/axio-zoom-v16-for-biology.html" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.zeiss.com/microscopy/en/products/light-microscopes/stereo-and-zoom-microscopes/axio-zoom-v16-for-biology.html</span></a></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Creaform Go Scan Spark 3D scanner: </span><a href="https://www.creaform3d.com/fr/solutions-de-metrologie/scanners-3d-a-main-portables-goscan-3d?aw_campaign=90.1.0+-+Search+-+Branded+-+Canada+-+FR&amp;network=g&amp;aw_device=c&amp;keyword=&amp;creative=629014100585&amp;matchtype=&amp;gclid=Cj0KCQiA7bucBhCeARIsAIOwr-9rLjnJZK6tBxvH04648m0UP95D-xvA3Y7-22Ibuguz13Cpefqa3B0aAqD9EALw_wcB" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://www.creaform3d.com/fr/solutions-de-metrologie/scanners-3d-a-main-portables-goscan-3d?aw_campaign=90.1.0+-+Search+-+Branded+-+Canada+-+FR&amp;network=g&amp;aw_device=c&amp;keyword=&amp;creative=629014100585&amp;matchtype=&amp;gclid=Cj0KCQiA7bucBhCeARIsAIOwr-9rLjnJZK6tBxvH04648m0UP95D-xvA3Y7-22Ibuguz13Cpefqa3B0aAqD9EALw_wcB</span></a></span></span></li>
</ul>


{% endblock %}
