{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Pickup truck Vehicle  -</h1>
  <hr class="my-4">

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">A F250 is available for rental.</span></span></span></p>


<div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/F150.JPG" alt="Climate Sentinel">
  </div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif">Photo credit: Eve Bigras</span></span></p>


{% endblock %}
