{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Scanning Doppler lidars-Halo Streamline XR+-</h1>
  <hr class="my-4">
  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/Halo.JPG" alt="Halo" width="50%" height="50%">
  </div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif"> Picture from Halo website</span></span></p>


<hr class="my-4">
<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">The StreamLine series is a range of compact Doppler LiDAR systems offering high resolution, high output power and so forth high range with an all-sky scanner system. It offers the benefit of low power consumption, light weight and portable operation coupled with autonomous operation.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">2 of these instruments were purchased and are being installed on both sides of the Saint-Lawrence River. The fact that these instruments are compact is making them an excellent choice for field experiment and these instruments will travel by themselves or along one of our mobile laboratories.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><a href="https://halo-photonics.com/lidar-systems/stream-line-series/" style="color:#0563c1; text-decoration:underline"><span style="font-size:12.0pt">https://halo-photonics.com/lidar-systems/stream-line-series/</span></a></span></span></p>

<p>&nbsp;</p>

{% endblock %}
