{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Climate sentinels-</h1>
  <hr class="my-4">
  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/work.jpg" alt="Station UQAM">
  </div>
<p>
 Photo credit: Eve Bigras
</p>
  <hr class="my-4">
  <p>
    A network of 7 climate sentinels is being installed along the Saint-Lawrence River valley in order to quantify micro 
    to meso-scale weather processes throughout the SLRV. Using continuous, real-time monitoring of ground and higher 
    altitude climate variables (solar input, temperature, wind, precipitation) we will measure how these variables interact 
    with each other and local topography to generate predictive models climate dynamics and extreme weather.
    
Sensors are different from one station to another but each of them includes:
    
-	A minimum of 8 thermometers, Campbell CS109 or HMP155A
https://www.campbellsci.ca/109-l
https://www.campbellsci.ca/hmp155a

-	Relative humidity sensor HMP155A
-	https://www.campbellsci.ca/hmp155a

-	Kipp & Zonen Net Radiometer sensor :https://www.kippzonen.com/Product/85/CNR4-Net-Radiometer#.Y4YlvHbMJD8

-	Soil Thermocouple probe
https://www.campbellsci.ca/tcav-l

-	Soil moisture and temperature sensor: https://www.campbellsci.ca/cs655
-	Leaf wetness sensor: https://www.campbellsci.ca/lws
-	Multipoint Scanning Snowfall sensor: https://www.campbellsci.ca/sdms40
-	OTT Parsivel2 present weather sensor: https://www.ott.com/products/meteorological-sensors-26/ott-parsivel2-laser-weather-sensor-2392/
-	Atmospheric Visibility sensor https://www.campbellsci.ca/cs120a
-	Metek Micro Rain Radar 2: https://metek.de/product/mrr-2/
-	Lidar ceilometer (on 4 stations): https://s.campbellsci.com/documents/us/product-brochures/b_cs135.pdf
-	Hotplate weather station: http://www.pondengineering.com/k63
-	IRGASON or Vaisala CO2 sensor: https://www.campbellsci.ca/irgason
-	https://www.vaisala.com/fr/products/instruments-sensors-and-other-measurement-devices/instruments-industrial-measurements/gmp343
-	Young wind monitor alpine version: https://www.youngusa.com/product/wind-monitor/
-	Kipp & Zonen Thermopile pyranometer sensor CMP-10: https://www.kippzonen.com/Product/276/CMP10-Pyranometer#.Y4YlgHbMJD8
-	Camera
-	Barometer: https://www.campbellsci.ca/cs106
-	Soil heat flux plates: https://s.campbellsci.com/documents/us/manuals/hfp01.pdf
    
1 minute time interval data from the sensors are available live on this website. Archived data are available through a web-based database interface or on demand.

    
Location of the climate sentinels

UQAM PK building rooftop, 45.509108, -73.568653, elevation: 

McGill Arboretum, Sainte-Anne de Bellevue. 45.430065, -73.942156, elevation 49m
https://eos.meteo.mcgill.ca/stations/2/live-data

Gault Nature Reserve, Mont-Saint-Hilaire, 45.535021, -73.149006, elevation: 132m
https://eos.meteo.mcgill.ca/stations/1/live-data

Forêt Montmorency, in partnership with Laval University, 47.322010, -71.151552. elevation 667m
https://eos.meteo.mcgill.ca/stations/3/live-data

Sherbrooke University, Sherbrooke (to come) 45.373668, -71.922842, elevation: 303m
Trois-Rivières University, Trois-Rivières (to come) 46.349761, -72.581432. Elevation: 51m
NRC, Ottawa (to come) 45.326913, -75.665045, elevation: 115m

  </p>

{% endblock %}
