{% extends 'layouts/classic.html' %}
{% load static %}

{% block content %}
  <h1 class="text-center">- Climate sentinels-</h1>
  <hr class="my-4">
  <div class="text-center">
    <img class="img-fluid" src="{{ MEDIA_URL }}images/Climate_sentinel.JPG" alt="Climate Sentinel">
  </div>
<p><span style="font-size:11px"><span style="font-family:Calibri,sans-serif"> Photo credit: Eve Bigras</span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">A network of 7 climate sentinels is being installed along the Saint-Lawrence River valley in order to quantify micro to meso-scale weather processes throughout the SLRV. Using continuous, real-time monitoring of ground and higher altitude climate variables (solar input, temperature, wind, precipitation) we will measure how these variables interact with each other and local topography to generate predictive models climate dynamics and extreme weather.</span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Sensors are different from one station to another but each of them includes:</span></span></span></p>

<ul>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">A minimum of 8 thermometers, <a href="https://www.campbellsci.ca/109-l">Campbell CS109</a> or <a href="https://www.campbellsci.ca/hmp155a">HMP155A</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Relative humidity sensor <a href="https://www.campbellsci.ca/hmp155a">HMP155A</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.kippzonen.com/Product/85/CNR4-Net-Radiometer#.Y4YlvHbMJD8">Kipp &amp; Zonen Net Radiometer sensor</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/tcav-l">Soil Thermocouple probe</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/cs655">Soil moisture and temperature sensor</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/lws">Leaf wetness sensor</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/sdms40">Multipoint Scanning Snowfall sensor</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.ott.com/products/meteorological-sensors-26/ott-parsivel2-laser-weather-sensor-2392/">OTT Parsivel2 present weather sensor</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/cs120a">Atmospheric Visibility sensor</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://metek.de/product/mrr-2/">Metek Micro Rain Radar 2</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://s.campbellsci.com/documents/us/product-brochures/b_cs135.pdf">Lidar ceilometer</a> (on 4 stations)</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="http://www.pondengineering.com/k63">Hotplate</a> weather station</span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/irgason">IRGASON</a> or <a href="https://www.vaisala.com/fr/products/instruments-sensors-and-other-measurement-devices/instruments-industrial-measurements/gmp343">Vaisala CO2 sensor</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.youngusa.com/product/wind-monitor/">Young wind monitor alpine version</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif">Kipp &amp; Zonen Thermopile pyranometer sensor <a href="https://www.kippzonen.com/Product/276/CMP10-Pyranometer#.Y4YlgHbMJD8"> CMP-10</a></span></span></li>
<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Camera</span></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://www.campbellsci.ca/cs106">Barometer</a></span></span></li>
<li><span style="font-size:12.0pt"><span style="font-family:Calibri,sans-serif"><a href="https://s.campbellsci.com/documents/us/manuals/hfp01.pdf">Soil heat flux plates</a></span></span></li>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">1 minute time interval data from the sensors are available live on this website. Archived data are available through a web-based database interface or on demand.</span></span></span></p>

<p>&nbsp;</p>
</p>

{% endblock %}
